muye-multi-agent-sdk @ git+https://github.com/muye-x/muye-multi-agent-sdk.git@main
-r ./control_server/requirements.txt
-r ./muye-llm/requirements.txt
-r ./muye-data/requirements.txt
-r ./agents/agent-main/requirements.txt
-r ./muye-gateway/requirements.txt
-r ./muye-channels/requirements.txt
